@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --background: #030e21;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-CusYellow: #f8e7a1;
  --color-Secondary: #868490;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: sans-serif; */
  /* font-family: var(--font-poppins); */
  font-weight: 400;
}

.CustomContainer1680px {
  @apply mx-auto w-full max-w-[1680px];
}
.CustomContainer1400px {
  @apply mx-auto w-full max-w-[1400px];
}
.CustomContainer1800px {
  @apply mx-auto w-full max-w-[1800px];
}

button {
  @apply cursor-pointer;
}

.SkillSwiper .swiper-wrapper {
  transition-timing-function: linear;
}
